
/* ELEMENT STYLING */

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
}

h1{
    font-size: 5rem;   
    padding-top: 120px;
    color: black;

}

h2{
    font-size: 3rem;  
    color: #151a0f;
}

h3{
    color: #5c7557;
    font-size: 1.5rem;
}

p{
    line-height: 1.65;
    font-family: 'Open Sans', sans-serif;
}

.footer{
    background-color: #151a0f;
    color: white;
    text-align: center;
}

.footer-icon{
    padding: 0.5%;
    color: #d6b28c;
}

.footer-icon:hover{
    color: black;
}

/* NAVBAR STYLING */

.gx-navbar{
    padding: 1.5% 1%;
    font-size: 1.25rem;
}

/* KEY FEATURES STYLING */

#features, #contact{
    margin: auto;
}

#contact {
    background-image: url('/img/public_hero_blank.jpeg');  
    background-size: cover;
    padding-bottom: 4%;
}

.white-section{
    padding: 5%;
    width: 70%;
    background-color: white;
}

.feature-col{
    padding: 4%;
    background-color: rgb(241, 239, 239);
}

/* WHY US STYLING */

#about, #testimonials {
   text-align: center;
}

/* TESTIMONIALS */

.colored-section{
    width: 70%;
    padding: 5%;
    color: white;
}


/* ICON STYLING */


.fas{
    color: #d6b28c;
}

.fas:hover{
    color: #5c7557;
}

/* MEDIA QUERIES */

/* extra small screens */

@media only screen and (max-width: 1024px) {
    h1{
        line-height: 1.2;
    }

    .gx-home-hero{
        padding: 5%;
        margin-bottom: 20px;
        background-image: url('/img/public_hero_blank.jpeg');        
        background-size: cover;
    }
}

/* small screens */

@media only screen and (min-width: 600px) {

}

/* medium screens */

@media only screen and (min-width: 768px) {

}

/* large screens */

@media only screen and (max-width: 5000px) {

      .gx-home-hero{
        background-image: url('/img/public_hero.jpeg');
        background-repeat: no-repeat;
        height: 1000px;
        padding: 5%;
        background-position: 0px -125px;
        background-size: cover;
    }
}

/* extra large screens */

/* @media only screen and (min-width: 1500px) {
    


} */



/* COLOUR PALETTE */

/* #5c7557 mid green */
/* #d5b18c  light brown */
/* #acbc9c light green */
/* #151a0f black green */
/* #332312 dark brown */
/* #aaaa94 light grey green */
/* #403d22 khaki green */